<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  </head>
  
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 id="">
          #Content Name
        </h1>
        <li class="list-group-item" id="creator-pay">
          <div class="form-group">
            <label>
              Content Creator
              <br>
            </label>
            <input type="text" class="form-control" id="creator">
          </div>
        </li>
        <div class="form-group">
        </div>
        <p>
          <ul class="list-group">
            <li class="list-group-item" id="charity1-pay">
              <div class="form-group">
                <label>
                  Charity 1
                  <br>
                </label>
                <input type="text" class="form-control" id="creator">
              </div>
            </li>
          </ul>
        </p>
        <li class="list-group-item" id="charity2-pay">
          <div class="form-group">
            <label class="pull-left">
              Charity 2
              <br>
            </label>
            <input type="text" class="form-control" id="creator">
          </div>
        </li>
        <div class="form-group">
        </div>
        <input type="email" class="form-control" name="">
        <button type="submit" class="btn btn-default text-center">
          Submit!
        </button>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    >
    </script>
  </body>

</html>